<!DOCTYPE html>
<h2 class='header'>{{ info.title }}</h2>
<div class='survey'>
<table class='hydQuestion'>
        <tr>
            <td><label>{{ info.enter1 }} <input type='text' ng-model="info.input1"></label></td>
	</tr>
	<tr>
            <td><label>{{ info.enter2 }} <input type='text' ng-model="info.input2"></label></td>
	</tr>
        <tr>
            <td>The {{ info.title}} is (in {{ info.abbreviation}}): {{ info.enter3  | number }}</td>
	</tr>
        <tr>
            <td><button ng-click="info.enter3 = info.calc()">Calculate</button></td>
        </tr>
</table>